METADATA filter=lfs diff=lfs merge=lfs -text
METADATA.pb filter=lfs diff=lfs merge=lfs -text
SourceSansPro-SemiBold.ttf filter=lfs diff=lfs merge=lfs -text
SourceSansPro-Bold.ttf filter=lfs diff=lfs merge=lfs -text
SourceSansPro-SemiBoldItalic.ttf filter=lfs diff=lfs merge=lfs -text
DESCRIPTION.en_us.html filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
SourceSansPro-BoldItalic.ttf filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BY_EXCEPTION_ONLY filter=lfs diff=lfs merge=lfs -text
SourceSansPro-Italic.ttf filter=lfs diff=lfs merge=lfs -text
SourceSansPro-Regular.ttf filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
fonts.mk filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
